<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Restful-Booker Booking application Flow">
    <test name="Create Booking - Using only TestNG">
        <classes>
            <class name="test.missionMarsTests.testNG.TestNGSolutionTask2Test"/>
        </classes>
    </test>

    <listeners>
        <listener class-name="main.java.listeners.SuiteListener"/>
        <listener class-name="main.java.listeners.TestListener"/>
    </listeners>
</suite>